
.ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue_ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue {
	width: 40px;
	height: 40px;
	border-radius: 8px;
}
.ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue_ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue .Rectangle6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 2px solid rgba(255,255,255,1);
}
.ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue_ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue .Group18 {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 60%;
	height: 60%;
}
.ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue_ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue .Group18 .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
.ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue_ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue .Group18 .SynchReloadLeft_2 {
	position: absolute;
	left: 0px;
	top: 0px;
}
.ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue_ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue .Group18 .SynchReloadLeft_2 .Group {
	position: absolute;
	left: 3px;
	top: 2.995849609375px;
	width: 75%;
	height: 75.03458658854166%;
}
.ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue_ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue .Group18 .SynchReloadLeft_2 .Group .Vector {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 50%;
}
.ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue_ButtonIconTypeRoundedStateSecondaryAlignNoneSizeSmallBodySquareIconTrue .Group18 .SynchReloadLeft_2 .Group .Vector_1 {
	position: absolute;
	left: 0px;
	top: 9.004150390625px;
	width: 100%;
	height: 50%;
}